.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cuisine-emoji {
  width: 30px;
  height: 30px;
  padding: 3px;
}

/* BACKGROUND */

body {
  font-family: "Alatsi", sans-serif;
  margin: 0;
  overflow: hidden;
  /* background: black; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 10vw;
  color: white;
}

canvas {
  width: 100%;
}

/* TYPEWRITER */

@import url("https://fonts.googleapis.com/css?family=VT323");

.h1-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header-grid"
    "button-grid";
}

h1 {
  color: black;
  font-size: 100px;
  position: fixed;
  left: 25%;
  top: 25%;
  z-index: 1;
}

.h1-cuisine {
  color: #006381;
  z-index: 1;
}

.nav-button {
  border: none;
  padding: 15px 40px;
  font-size: 25px;
  border-radius: 30px;
  background-color: #006381b4;
  color: white;
  z-index: 1;
  position: center;
  margin-top: 150px;
  /* margin-top: 100px; */
  /* margin-top: 50vh; */
}

.nav-button:hover {
  background-color: #006381;
  z-index: 1;
}

#cursor {
  border-left: 0.1em solid black;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.homescreen-image {
  width: 200px;
  position: absolute;
  z-index: -1;
}

.animate-1 {
  animation: animate-1 13s linear 0s infinite alternate;
}

.animate-2 {
  animation: animate-2 13s linear 0s infinite alternate;
}

.animate-3 {
  animation: animate-3 13s linear 0s infinite alternate;
}

.animate-4 {
  animation: animate-4 15s linear 0s infinite;
}

.animate-5 {
  animation: animate-5 18s linear 0s infinite;
}
.animate-6 {
  animation: animate-6 20s linear 0s infinite alternate;
}
.animate-7 {
  animation: animate-7 15s linear 0s infinite;
}
.animate-8 {
  animation: animate-8 13s linear 0s infinite;
}
.animate-9 {
  animation: animate-9 21s linear 0s infinite;
}
.animate-10 {
  animation: animate-10 18s linear 0s infinite alternate;
}
.animate-11 {
  animation: animate-11 15s linear 0s infinite;
}

@keyframes animate-1 {
  0% {
    transform: rotate(0deg);
    position: left 100%;
  }
  100% {
    transform: rotate(360deg);
    position: left 0%;
  }
  from {
    left: 150%;
    top: 50%;
  }

  to {
    left: -50%;
    top: -50%;
  }
}

@keyframes animate-2 {
  0% {
    transform: rotate(10deg);
    position: left 0%;
  }
  100% {
    transform: rotate(180deg);
    position: left 200%;
  }
  from {
    left: 90%;
    top: 100%;
  }

  to {
    left: 80%;
    top: -70%;
  }
}

@keyframes animate-3 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(300deg);
  }
  from {
    right: -20%;
    top: 50%;
  }

  to {
    right: 150%;
    top: 30%;
  }
}

@keyframes animate-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  from {
    left: -150%;
    top: -50%;
  }

  to {
    left: 150%;
    top: 150%;
  }
}

@keyframes animate-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  from {
    left: -50%;
    top: -50%;
  }

  to {
    left: 50%;
    top: 120%;
  }
}

@keyframes animate-6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  from {
    left: 10%;
    top: -20%;
  }

  to {
    left: 20%;
    top: 120%;
  }
}

@keyframes animate-7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  from {
    left: -10%;
    top: 50%;
  }

  to {
    left: 100%;
    top: -50%;
  }
}

@keyframes animate-8 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
  from {
    left: 0%;
    top: 120%;
  }

  to {
    left: 20%;
    top: -20%;
  }
}

@keyframes animate-9 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
  from {
    left: 200%;
    top: 200%;
  }

  to {
    left: -50%;
    top: -50%;
  }
}

@keyframes animate-10 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
  from {
    left: 50%;
    top: 120%;
  }

  to {
    left: 50%;
    top: -50%;
  }
}

@keyframes animate-11 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  from {
    left: 120%;
    top: 60%;
  }

  to {
    left: -30%;
    top: -50%;
  }
}

/* CUISINE BUTTONS */

.cuisine-button-emoji {
  width: 25px;
  padding: 2px 5px;
}

.cuisine-button {
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 30px;
  background-color: #bfc5c7b4;
  color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: center;
  margin: 3px;
  transition: all 0.2s ease-in;
}

.cuisine-button:hover {
  background-color: #006381;
  color: white;
}

.cuisine-button-selected {
  background-color: #006381;
  color: white;
  z-index: 1;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: center;
  margin: 4px;
}

.main-body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(241, 236, 236);
}

.cuisine-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: center;
  align-content: center;
  margin-left: 13vw;
  margin-top: 50px;
}

.restaurants-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: center;
  align-content: center;
  margin-left: 13vw;
}

.restaurant-container {
  background-color: white;
  height: 300px;
  width: 250px;
  margin: 15px;
  padding: 25px;
  border-radius: 50px;
  animation: fadeIn ease 0.5s;
}

.restaurant-header {
  font-size: 30px;
  margin-bottom: 5px;
}

.select-all-button {
  border: none;
  font-size: 11px;
  border-radius: 30px;
  background-color: rgba(213, 220, 223, 0.452);
  color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: center;
  margin: 3px;
  transition: all 0.2s ease-in;
  padding: 5px;
  font-style: italic;
}

.no-response-button {
  border: none;
  font-size: 11px;
  border-radius: 30px;
  background-color: rgba(213, 220, 223, 0.452);
  opacity: 0.2;
  color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: center;
  margin: 3px;
  transition: all 0.2s ease-in;
  padding: 5px;
  font-style: italic;
}

.select-all-button:hover {
  background-color: #006381;
  color: white;
}

.select-all-button-container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: center;
  margin-left: 13vw;
  margin-top: -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.location-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 70px;
}

.location-emoji {
  margin-top: 20px;
  height: 25px;
}

.grey-background {
  background-color: rgb(241, 236, 236);
  height: 80px;
  width: 1000px;
  margin-top: -220px;
  margin-left: 40px;
  position: fixed;
}

.p1 {
  margin-top: 10px;
}

.p2 {
  font-style: italic;
  font-size: 16px;
}

.stars {
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.line-divider {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  height: 10px;
}

.cuisine-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.restaurants-header {
  font-size: 60px;
  font-weight: 600;
}

.restaurants-header-container {
  margin-left: 260px;
  margin-top: 70px;
}

.link {
  color: #006381;
}

.cuisine-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

/* SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin-right: -15px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bfc5c7b4;
  transition: 0.4s;
  border-radius: 50px;
  width: 70px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #006381;
}

input:checked + .slider:before {
  transform: translateX(35px);
}
